@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #252629;
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0;
}
ul a {
    color:#fff;
    text-decoration: none;
}main{
    background: #575757;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.2rem;
}